@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
html,body{
  font-family: 'Montserrat', sans-serif;
}
.row-header{
  margin:0px auto;
  padding:0px auto;
}
a.nav-link{
  color:#fafafa!important;
}
a.active{
  color:fff;
  border-bottom: red 2px solid!important;
}
.row-content {
  margin:0px auto;
  padding: 50px 0px 50px 0px;
  border-bottom: 1px ridge;
  min-height:400px;
}

.footer{
  background-color: #D1C4E9;
  margin:0px auto;
  padding: 10px 0px 10px 0px;
}
.jumbotron {
  padding:40px 30px 40px 30px;
  margin:0px auto;
  background: #9575CD ;
  color:floralwhite;
  border-radius: 0;
}

address{
  font-size:80%;
  margin:0px;
  color:#0f0f0f;
}

.navbar-dark {
  background-color: #512DA8;
}

