.sideNav{
    min-height: 100vh;
    background: black;
}
.full{
    padding: 0!important;
    margin: 0!important;
}
Droppable{
    display: flex;
        justify-content: space-between;
    min-height: 200px!important;
}