@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

html,
body {
    font-family: "Montserrat", sans-serif;
}

.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

a.nav-link {
    margin-left: 35px;
}

a.active {
    color: fff;
    border-bottom: rgb(250, 250, 250) 0 solid !important;
}

.row-content {
    margin: 0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height: 400px;
}

.footer {
    background-color: #d1c4e9;
    margin: 0px auto;
    padding: 10px 0px 10px 0px;
}

address {
    font-size: 80%;
    margin: 0px;
    color: #0f0f0f;
}

.navbar-dark {
    background-color: white
}

.navbar-light {
    background-color: darkslategray;
}

.modal-body {
    overflow: scroll;
}

.modal-content {
    height: 500px;
}

.btn-secondary {
    background-color: none;
    border-color: none;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input[type="range"][orient="vertical"] {
    writing-mode: bt-lr;
    /* IE */
    -webkit-appearance: slider-vertical;
    /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.progress-bar-vertical {
    width: 20px;
    min-height: 100px;
    display: flex;
    align-items: flex-end;
    margin-right: 20px;
    float: left;
}

.progress-bar-vertical .progress-bar {
    width: 100%;
    height: 0;
    -webkit-transition: height 0.6s ease;
    -o-transition: height 0.6s ease;
    transition: height 0.6s ease;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

a.active.border-0 {
    color: fff;
    border: 0px !important;
}

/* Carousel */
@font-face {
    font-family: "revicons";
    fallback: fallback;
    src: url(/static/media/revicons.04eb8fc5.woff) format('woff'), url(/static/media/revicons.17629a5d.ttf) format('ttf'), url(/static/media/revicons.2feb69cc.eot) format('ttf')
}

.react-multi-carousel-list {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative
}

.react-multi-carousel-track {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    position: relative;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform, transition
}

.react-multiple-carousel__arrow {
    position: absolute;
    outline: 0;
    transition: all .5s;
    border-radius: 35px;
    z-index: 1000;
    border: 0;
    background: rgba(0, 0, 0, 0.5);
    min-width: 43px;
    min-height: 43px;
    opacity: 1;
    cursor: pointer
}

.react-multiple-carousel__arrow:hover {
    background: rgba(0, 0, 0, 0.8)
}

.react-multiple-carousel__arrow::before {
    font-size: 20px;
    color: #fff;
    display: block;
    font-family: revicons;
    text-align: center;
    z-index: 2;
    position: relative
}

.react-multiple-carousel__arrow--left {
    left: calc(4% + 1px)
}

.react-multiple-carousel__arrow--left::before {
    content: "\e824"
}

.react-multiple-carousel__arrow--right {
    right: calc(4% + 1px)
}

.react-multiple-carousel__arrow--right::before {
    content: "\e825"
}

.react-multi-carousel-dot-list {
    position: absolute;
    bottom: 0;
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    margin: auto;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center
}

.react-multi-carousel-dot button {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 1;
    padding: 5px 5px 5px 5px;
    box-shadow: none;
    transition: background .5s;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    padding: 0;
    margin: 0;
    margin-right: 6px;
    outline: 0;
    cursor: pointer
}

.react-multi-carousel-dot button:hover:active {
    background: #080808
}

.react-multi-carousel-dot--active button {
    background: #080808
}

.react-multi-carousel-item {
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media all and (-ms-high-contrast:none),
(-ms-high-contrast:active) {
    .react-multi-carousel-item {
        flex-shrink: 0 !important
    }

    .react-multi-carousel-track {
        overflow: visible !important
    }
}

#video_background{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    filter: brightness(0.7);
}