body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.breadcrumb {
  margin: 5px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}

.block {
  padding: 4rem 0.5rem;
}

.background-light-grey {
  background-color: #f4f4f4;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.block.banner.home {
  padding: 14rem 0.5rem 3rem 0.5rem;
}

.block.banner {
  padding: 12rem 0.5rem;
  position: relative;
  z-index: 1;
}

.background-black {
  background-color: #414141;
  color: white;
}

.block .banner-photo {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.block .banner-photo-efect {
  background: rgba(0, 0, 0, 0.5);
}

.block .banner-photo-efect {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 2;
}

.block.banner .container {
  position: relative;
  z-index: 3;
}

.block.banner.home .iconos:before {
  content: "";
  display: block;
  width: 100%;
  /* max-width: 78%; */
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(/assets/images/soundcool-icono-lineas-5.svg);
  background-size: 84.6%;
  margin: auto;
  margin-bottom: -2.4%;
}

.block.banner.home h1 {
  font-size: 5rem;
  margin: 0.5rem auto;
}

.block.banner.home h2 {
  font-size: 1.25rem;
  margin: 0 auto;
  font-weight: 300;
  font-family: "OpenSans-Regular";
}
.title {
  font-size: 2.5rem;
}
.subtitle {
  font-size: 1.2rem;
}

.pointer-cursor {
  cursor: pointer;
}
